{% extends 'base.html' %}

{% block title %}
	Add Testimonial | Allume
{% endblock %}

{% block content %}

    {% include 'header.html' %}
    <div class="container-fluid">
    	<div class="row form-wrapper">
    		<form method="post">{% csrf_token %}
		    	{{ form.as_p }}
		    	<br>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<input type="submit" value="Add Testimonial">
		    			<br><br>
		    			<a href="{% url "testimonials" %}">View Testimonials</a>
		    		</div>
		    	</div>
		    </form>
	    </div>
    </div>

{% endblock %}
