a {
	color: black;
	cursor: pointer;
}

a:hover {
	color: #f2987e;
	text-decoration: none;
}

.bar {
	background-color: #1c426c;
	margin: 0 auto;
}

.bar img {
	margin: 0 auto;
}

body,
html {
	overflow-x: hidden;
}

body {
	padding-top: 93px;
	background-color: white;
	color: #3a3a3a;
	font-family: 'museo sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

.box {
	border: 1px solid #d3d3d3;
	padding: 15px;
}


.btn {
	position: relative;
}

.btn.disabled {
	background-color: #ccc;
}

.btn-primary {
	padding: 12px 30px;
	border: none;
	background-color: #f2987e;
	color: white;
	font-family: 'museo sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:hover {
	outline-color: #f89377;
	background-color: #f89377;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
	background-color: #ccc;
}

.btn-secondary {
	border: 1px solid #f2987e;
	background-color: white;
	color: #f2987e;
	cursor: pointer;
}

.btn-secondary:active,
.btn-secondary:active:focus,
.btn-secondary:active:hover,
.btn-secondary:focus,
.btn-secondary:hover {
	outline-color: #f2987e;
	background-color: white;
	color: #f2987e;
}

.btn.navy {
	background-color: #1c3652;
}

.btn.navy.disabled {
	background-color: #ccc;
}

.btn.peach,
.btn.peach:focus {
	background-color: #f2987e;
}

.btn.peach.disabled {
	opacity: 1;
}

.btn-primary.black {
	background-color: black;
}

.btn-primary.black:active,
.btn-primary.black:active:focus,
.btn-primary.black:active:hover,
.btn-primary.black:focus,
.btn-primary.black:hover {
	outline-color: #292929;
	background-color: #292929;
}

.btn.get-started {
	padding: 22px 56px;
	border-radius: 8px;
	background-color: #f2987e;
	margin-top: 67px;
}

.btn.get-started span {
	font-size: 22px;
}

.char-counter.maxed-out {
	color: #f00;
}

.clients {
	padding-top: 58px;
	padding-bottom: 68px;
	text-align: center;
	padding:0 50px 50px;
}

.clients blockquote {
	display: inline-block;
	max-width: 430px;
	border-left: none;
	font-size: 22px;
	font-weight: 300;
}

.clients img {
	max-width: 384px;
	margin: 50px auto 0;
}

.commonly-asked {
	margin: 40px auto 60px;
	text-align: center;
}

.commonly-asked label {
	font-size: 22px;
	margin: 40px auto 0;
}

.commonly-asked p {
	font-size: 22px;
	max-width: 950px;
	margin: 20px auto 0;
}

.content-container {
	max-width: 1500px;
	margin: 0 auto;
}

.desktop-break {
	display: block;
}

h1 {
	font-family: 'mrs-eaves-xl-serif', serif;
	font-size: 42px;
	font-weight: 500;
}

h2 {
	font-size: 25px;
	font-weight: 500;
}

h3 {
	font-family: 'museo sans', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}

.home h3 {
	font-family: "mrs-eaves-xl-serif",serif;
	font-size: 36px;
	line-height: inherit;
	text-align: center;
}

.home h4 {
	display: inline-block;
	margin-bottom: 16px;
	margin: 0 auto;
	border-bottom: 2px solid #3a3a3a;
	font-family: "mrs-eaves-xl-serif",serif;
	font-size: 36px;
	font-weight: 400;
	margin: 20px;
}

.home .how-it-works {
	text-align: center;
	margin: 40px auto 60px;
}

.home .how-it-works p {
	font-size: 24px;
	margin: 0 0 10px;
}

.home .how-it-works .item {
	padding: 10px;
	padding-bottom: 40px
}

.error {
	color: red;
	font-weight: 300;
}

.field-error {
	border: 1px solid #f2739f;
	box-shadow: inset 0 0 7px #de2a63;
}

.generic-error {
	display: inline-block;
	margin: 5px 20px 0 0;
	color: #f2739f;
	font-weight: bold;
}

.get-started {
	padding: 0;
	border: none;
	outline-color: white;
	background-color: white;
}

img {
	vertical-align: middle;
}

.inner {
	margin: 0 auto;
}

.intra {
	display: block;
	visibility: hidden;
	position: relative;
	top: -180px;
}

.line {
	width: 80px;
	margin: 20px auto 20px auto;
	border-top: 1px solid #3a3a3a;
}

.message {
	font-weight: bold;
}

.message.success {
	color: green;
}

.message.error {
	color: red;
}

.package .box {
	max-width: 640px;
	margin: 48px auto;
	padding: 50px 30px;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	text-align: center;
}

.package .box p {
	font-weight: 500;
	font-size: 22px;
}

.package .box ul {
	max-width: 450px;
	margin: 0 auto 35px;
	padding: 0;
	font-size: 22px;
	font-weight: 300;
	list-style: none;
	text-align: left;
}

.package .box ul li {
	padding: 18.5px 0;
}

.package .box ul li img {
	display: inline-block;
	width: 48px;
	margin-right: 10px;
}

.package .outer-box {
	margin-bottom: 65px;
	padding: 30px 0;
	background-color: #f0f0f0;
}

.peach {
	color: #f2987e;
}

.strong {
	font-weight: bold;
}

.vertical-align {
	display: flex;
	align-items: center;
}


/*** Background Colors ***/

.navy-bg {
	background-color: #1c3652;
}

.white-bg {
	max-height: 365px;
	background-color: white;
}


/*** Button Loader ***/

.photo-block.processing .loader {
	display: none;
	position: static;
	width: 24px;
	height: 24px;
	margin: 20px auto;
	background-image: url(../img/shared/ajax-loader.gif);
}

.upload-button .loader,
.btn .loader {
	display: none;
	position: absolute;
	top: 50%;
	right: 20px;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	background-image: url(../img/shared/ajax-loader.gif);
}

.photo-block.processing .loader,
.upload-button.processing .loader,
.btn.processing .loader {
	display: block;
}

@media (max-width: 767px) {
	body {
		padding-top: 60px;
		font-size: 14px;
		/*font-size: 15px;*/
	}

	body.payment {
		padding-top: 55px;
	}

	.btn.get-started {
		padding: 17px 55px;
	}

	.btn.get-started span {
		font-size: 14px;
	}

	.clients {
		padding: 0 10px;
		text-align: center;
	}

	.clients blockquote {
		max-width: 300px;
		font-size: 16px;
	}

	.clients img {
		max-width: 245px;
		margin-top: 18px;
		padding-bottom: 20px;
	}

	.commonly-asked {
		margin: 10px auto 40px;
		text-align: center;
	}

	.commonly-asked label {
		font-size: 16px;
		margin: 40px auto 0;
	}

	.commonly-asked p {
		font-size: 16px;
		margin: 20px auto 0;
	}

	.content {
		margin-top: 0;
	}

	.content.sticky {
		margin-top: 65px;
	}

	.desktop-break {
		display: inline;
	}

	input.form-control,
	textarea.form-control {
		font-size: 16px;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	.home h3 {
		margin-top: 10px;
		font-size: 22px;
		line-height: 34px;
	}

	.home .how-it-works p {
		font-size: 16px;
		margin: 0 0 10px;
	}

	.intra {
		top: -80px;
	}

	.line {
		width: 112px;
		margin-top: 15px;
	}

	.mobile-break {
		display: block !important;
	}

	.mobile-spacer {
		margin-bottom: 15px;
	}

	.package .box {
		height: auto;
		margin: 0 25px 40px;
		padding: 30px 10px;
	}

	.package .box p {
		font-weight: 300;
		font-size: 16px;
	}

	.package .box ul {
		max-width: 300px;
		margin-bottom: 20px;
		padding: 0;
		font-size: 16px;
		font-weight: 300;
		list-style: none;
		text-align: left;
	}

	.package .box ul li {
		padding: 8px 0;
	}

	.package .box ul li img {
		width: 35px;
		margin-right: 0px;
	}

	.package .outer-box {
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
		background-color: #fff;
	}

	.vertical-align {
		display: inherit;
		align-items: inherit;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.mobile-spacer {
		margin-bottom: 15px;
	}
}
